.inquiry{
    text-align: center;
}
.icon img{
	width: 6.25rem/* 250px */;
	height: 6.05rem/* 242px */;
	margin-top: 2.25rem/* 90px */;
}
.roomStatus{
	font-size: .85rem/* 34px */;
	color: #1a1a1a;
	padding-top: 1.5rem/* 60px */;

}
.roomStatus span{
	color: #fa4649;
}
.behind{
	font-size: .75rem/* 30px */;
	color: #808080;
	padding-bottom: 1.25rem/* 50px */;
	padding-top: .7rem/* 28px */;
}
.showPrice{
	width: 15.2rem/* 608px */;
	border: .025rem solid #ebeae8;
    border-bottom: none;
	margin-left: 1.75rem/* 70px */;
    box-sizing: border-box;
}
.showPrice h1{
	height: 2rem/* 80px */;
	background-color: #f7f7f5;
	line-height: 2rem/* 80px */;
	font-size: .7rem/* 28px */;
	color: #1a1a1a;
	border-bottom:.025rem solid #ebeae8;
}
.pricePackage{
	display: flex;
	box-sizing: border-box;
	font-size: .7rem/* 28px */;
	color: #4c4c4c;
   margin-bottom: 1.25rem/* 50px */;
}
.pricePackage li{
	height: 2rem/* 80px */;
	width: 7.55rem/* 302px */;
	border-right: .025rem solid #ebeae8;
	border-bottom: .025rem solid #ebeae8;
	line-height: 2rem/* 80px */;
}
.priceUl li{
	border-right: none;
}
.footer{
	height: 2.75rem/* 110px */;
	background-color: #f7f7f5;
    width:100%;
    padding-top: 1rem/* 40px */;
}
.footer p{
    font-family:PingFang-SC-Regular;
	width: 9.25rem/* 370px */;
	height: 1.7rem/* 68px */;
	text-align: center;
	line-height: 1.7rem/* 68px */;
	border: .025rem solid #eaeae8;
	border-radius: .8rem/* 32px */;
	color: #808080;
	font-size: .7rem/* 28px */;
    margin: 0 auto; 
}












