
.remind{
    width: 15.025rem/* 601px */;
    height: 19.425rem/* 777px */;
    margin: 3.125rem/* 125px */ auto;
    background-image: url("../images/1@2x.png");
    background-size: 15.025rem/* 601px */ 19.425rem/* 777px */;
    font-size:.75rem/* 30px */;
    font-family: 'PingFang-SC-Regular';
    color: #1e1e1e;
}
.head{
    font-size: 1.2rem/* 48px */;
    color: #f43a3a;
    padding-top: 5.25rem/* 210px */;
    padding-left: 3.225rem/* 129px */;
}
.cont{
    padding-top: 2rem/* 80px */;
    padding-left: 2.15rem/* 86px */;
}
.cont span{
    color: #f43a3a;
    padding-bottom: 1.95rem/* 78px */;
}
.plt{
    text-align: center;
    padding-left: .5rem/* 20px */;
}
.plt p:nth-child(1){
    padding-top:1.95rem/* 78px */;
}
.pdt{
    padding-top:.55rem/* 22px */;
}